
body {
    background: blue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}


.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
  position: relative;
  z-index:9999;
  width: 100%;
  display: block;
}

.topnav a {
  text-decoration: none;
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 30px;

}

.topnav a:hover {
  background-color: #ddd;
  color: black;
    text-decoration: none;

}

.topnav a.active {
  background-color: orange;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 30px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 30px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}




.info{
    z-index: 9999;
    position: relative;

}

.info a{
  margin-left: 10px;
  color: green;
}
.info a:hover{
  color: red;
}
.info p{
  color: white;
  margin-left: 50px;
  font-size: large;
  font-family: Papyrus;
}
.info h1{
  font-size:50px;
 margin-left: 50px;
 color: white;
  font-family: Papyrus;
}





.title{
  overflow: hidden;
  margin-left:50px;
  margin-top: 50px;
  position: relative;
  z-index: 9999;
  font-weight: 900;


}
.title img {
  float: left;
  display: block;
}

.title h1{
  margin-top: 0;
  margin-left: 50px;
  font-size: 60px;
  text-decoration: none;
  float: left;
  display: block;
  color: green;
  text-align: center;


}
.title p{
  margin-top: 100px;
  margin-left: 550px;
  font-size: 20px;
  text-decoration: none;
  display: block;
  color: white;
  text-align: left;
  padding: 16px;




}

.title iframe{
  padding: 20px;
  display: block;
  margin-top: 80px;
  margin-left: 800px;


}

.title label{
  font-size: 20px;
  display: block;
  margin-top: 30px;
  margin-left: 550px;
  color: white;

}

