



  
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: grey;
  top: 0;
  width: 100%;
}

li {
background-color: grey;
  float: left;

}

li button{
  font-size: x-large;
  border: none;
  background-color: grey;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
}

li button:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}